.markdown-preview-view .markdown-embed-title {
  display: none;
}

ol {
        list-style-type: decimal;
}

ol ol {
        list-style-type: lower-latin;
}

ol ol ol {
        list-style-type: lower-roman;
}

th{
    font-weight: normal;
}
